.App {
  text-align: center;
  flex-direction: row;
  background-color: #f3eac2;
  height: 100vw;
  width: 100vw;
}



.footer {
height: 5vh;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
